SPADE_SERVER=localhost

OLLAMA_BASE_URL=http://localhost:11434/v1

# Source for RSS feeds, assigned to one instance of a Crawler agent
# Collected from: https://github.com/plenaryapp/awesome-rss-feeds?tab=readme-ov-file
RSS_FEEDS_PATH="./data/rss.example.jsonc